html, body{
	
}

body{
	font-family: sans-serif;
}

#wrapper{
	margin: 10px auto 0 auto;
	width: 100%;
}

.event_info{
	font-size: 24px;
	margin-bottom: 1em;
}

.event_info .event_name{
	font-style: italic;
}

form.new{
	background: #eee;
	background: rgba(255,255,255,0.8);
	border: 1px solid #ddd;
	box-shadow: #eee 3px 3px 3px;
	-webkit-box-shadow: #eee 3px 3px 3px;
	float: left;
	font-size: 24px;
	padding: 20px;
	z-index: 10000;
}

form.new h2{
	margin-top: 0;
}

form.new label{
	font-size: 18px;
}

form.new input, form.new select, form.new option, form.new textarea, form.new button{
	font-size: 24px;
}

form.new input[type=submit]{
	margin-top: 1em;
}

form.new .connection{
	
}

form.new .connection .buttons{
	display: inline-block;
	min-width: 70px;
	text-align: left;
}

form.new .connection .buttons a{
	background: #eee;
	border-radius: 7px;
	color: #333;
	display: inline-block;
	padding: 1px 10px;
	text-decoration: none;
}

form.new .connection .buttons a:hover{
	background: #ddd;
}

/*
form.new .connection:first-child .buttons .remove{
	display: none;
}
*/

form.new .connection .buttons .add{
	display: none;
}

form.new .connection:last-child .buttons .add{
	display: inline-block;
}

form.new > .buttons{
/*	text-align: right;*/
}

#connection_graph{
	color: #999;
	float: right;
	width: 50%;
}

#connection_graph h3{
	display: none;
	font-weight: normal;
	text-align: right;
}


#connection_graph canvas{
/*	background: #f9f9f9;*/
/*	border: 1px solid #eee;*/
	float: right;
/*	height: 200px;
	width: 400px;
*/
	z-index: -1000;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
}